.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  margin-right: 18px;
  transition: opacity 0.3s;
}

.header__lang-link:hover {
  opacity: 0.5;
}

.header__lang-link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}


