.places {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0 48px 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .places {
    padding: 0 36px 92px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 0 24px 90px;
  }
}

@media screen and (max-width: 680px) {
  .places {
    padding: 0 20px 90px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    padding: 0;
    margin: 0 auto 66px;
  }
}
