.places {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 984px;
  list-style-type: none;
  box-sizing: content-box;
  padding: 0 48px 92px 48px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .places {
    max-width: 852px;
    padding: 0 36px 92px 36px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    padding: 0 24px 90px 24px;
  }
}

@media screen and (max-width: 680px) {
  .places {
    max-width: 650px;
    padding: 0 20px 90px 20px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    max-width: 600px;
    padding: 0;
    margin: 0 auto 66px;
  }
}
