.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.12;
  transition: opacity 0.3s;
}

.footer__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 760px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
