.intro {
  margin-left: 0;
  padding: 0 148px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
  width: 100%;
  max-width: 986px;
  min-height: 429px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: 288px;
    min-height: 754px;
    padding: 0 16px;
  }
}
